.mainTitle {
  font-size: 14px;
  text-align: center;
  font-weight: 100;
  letter-spacing: 3px;
}

.selectTitle {
  margin: 30px 0px;
  font-size: 25px;
  font-size: 14px;
  text-align: center;
  font-weight: 300;
  letter-spacing: 3px;
}

.items {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item {
  border: 3px solid #bbb;
  border-radius: 5px;
  width: 250px;
  height: 300px;
  position: relative;
  background-size: cover !important;
}

.item:nth-child(1) {
  background-image: url("/illustration.png");
}
.item:nth-child(2) {
  background-image: url("/websites.jpg");
}
.item:nth-child(3) {
  background-image: url("/apps.jpg");
}
.item:nth-child(4) {
  background-image: url("/websites.jpg");
}

.title {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.item:hover .title {
  color: rebeccapurple;
  transition: 1s;
}
